body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: 'Source Serif Pro', serif;
}

#intro {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: white;

  background-image: url('../images/background.png');
  background-repeat: repeat;
  background-size: 80%;
  filter: blur(0px);
}

#intro header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro header * {
  margin: 0 auto;
}

#content {
  position: absolute;
  top: 100vh;

  width: 100%;
  height: 1300px;

  background-color: white;
  box-shadow: 10px 0px 10px;
}

#arrow-indicator {
  position: absolute;
  left: 50%;
  top: -30px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: white;
}

#arrow-indicator:hover img{
  filter: brightness(50%);
  cursor: pointer;
}

#arrow-indicator img {
  width: 75%;
  height: auto;

  margin-left: 8px;
  margin-top: 2px;
}

/* Content */
/* Bio */

#bio {
  width: 100%;
  height: 400px;

  overflow: hidden;
}

#headshot {
  float: right;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;

  width: 200px;
  height: auto;

  box-shadow: 0px 0px 15px;
}

#bio header {
  padding-top: 80px;
  padding-left: 100px;

  height: 300px;
  overflow-y: scroll;
}

#bio header h1 {
  margin: 0;
}

#bio a {
  color: black;
  text-decoration: none;

  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#bio a:hover {
  background-image: url('../images/background.png');
  color: white;
  border: 1px solid white;
}

/* Projects */
/* Header */

#projects {
  width: 100%;
  height: 500px;

  position: relative;

  background-color: #FCFAEE;
}

#projects header {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100px;

  text-align: center;
}

/* Buttons */

#left, #right {
  position: absolute;
  top: 100px;

  z-index: 2;

  width: 5vw;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  transition: width 1s linear;
}

#left:hover, #right:hover {
  cursor: pointer;
}

#left img:hover, #right img:hover {
  filter: brightness(65%);
  width: 100%;
}

#left:focus, #right:focus {
  outline: none;
}

#left img, #right img {
  width: 80%;
  height: auto
}

#left {
  left: 0;
}

#right {
  right: 0;
}

/* Project Slideshow */

#project-slideshow {
  position: absolute;
  top: 100px;
  left: 0px;

  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: row;
}

#project-slideshow > div {
  height: 100%;
  width: 30%;

  transition: left 1s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#project-slideshow > div p {
  width: 80%;
}

/* Live Link/ Project Images */

.live-link {
  width: 75%;
  height: auto;
  max-height: 50%;

  border: 1px solid black;
  overflow: hidden;
}

.live-link img {
  width: 120%
}

.live-link:hover img{
  filter: brightness(30%);
}

/* Project Slides */

.zeroth {
  position: absolute;
  top: 0;
  left: -30vw;
}

.first {
  position: absolute;
  top: 0;
  left: 5vw;
}

.second {
  position: absolute;
  top: 0;
  left: 35vw;
}

.third {
  position: absolute;
  top: 0;
  left: 65vw;
}

.fourth {
  position: absolute;
  top: 0;
  left: 100vw;
}

.fifth {
  position: absolute;
  top: 0;
  left: 100vw;
}

.hidden {
  visibility: hidden;
}

/* Skills */

#skills {
  position: relative;
  width: 100%;
  height: 200px;

  background-color: #FCF8DC;
}

#skills header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;

  text-align: center;
}

#skills-list {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skills-list object {
  width: 50px;
  height: auto;

  padding-left: 25px;
  padding-right: 25px;

  transition: width 1s ease;
}

#skills-list object:hover {
  width: 75px;
  height: auto;

  transiton: width 1s ease;
}

/* Contact */

#contact {
  position: relative;
  width: 100%;
  height: 200px;

  background-color: #F6EEB7;
}

#contact header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;

  text-align: center;
}

#logos {
  position: absolute;
  top: 100px;
  left: 25%;

  width: 50%;
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logos img {
  width: auto;
  height: 40px;
}

#logos a:hover {
  cursor: pointer;
}
