body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: auto;
  overflow: hidden;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.section {
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: -150px;
  right: 0;
  bottom: -150px;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
  background-image: url('../images/background.png');
  background-repeat: repeat;
}

.panel {
  position: relative;
  width: 100vw;
  height: 400px;

  background: white;

  box-shadow: 0px 0px 15px;
}

/* header */

#header {
}

#header > * {
  padding: 40px;
}

#header #headshot {
  float: right;
  padding: 0;
  margin: 40px;

  width: 200px;
  height: auto;

  box-shadow: 0px 0px 15px;
}

/* project buttons */

#left, #right {
  position: absolute;
  top: 0;

  z-index: 2;

  width: 5vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  transition: width 1s linear;
}

#left img:hover, #right img:hover {
  filter: brightness(65%);
  width: 100%;
}

#left:focus, #right:focus {
  outline: none;
}

#left img, #right img {
  width: 80%;
  height: auto
}

#left {
  left: 0;
}

#right {
  right: 0;
}

/* project panels */

#projects {
  overflow: hidden;
}

#projects > div {
  height: 400px;
  width: 30vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: left 1s ease;
}

.zeroth {
  position: absolute;
  top: 0;
  left: -30vw;
}

.first {
  position: absolute;
  top: 0;
  left: 5vw;
}

.second {
  position: absolute;
  top: 0;
  left: 35vw;
}

.third {
  position: absolute;
  top: 0;
  left: 65vw;
}

.fourth {
  position: absolute;
  top: 0;
  left: 100vw;
}

.hidden {
  visibility: hidden;
}

#projects > div > a {
  position: absolute;
  top: 40px;

  width: auto;
  height: 50%;
}

#projects > div > a:hover {
  height: 70%;
  transition: height 0.5s linear;

  cursor: pointer;
}

#projects > div img {
  height: 100%;

  border: 1px solid black;
  opacity: 1;
}

#projects > div p {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

/* misc */

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links header {
  position: absolute;
  top: 100px;
}

#links #logos {
  position: absolute;
  top: 200px;

  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#links #logos img {
  width: 40px;
  height: auto;
}

#links #logos a:hover {
  cursor: pointer;
}
